@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-family: 'Arial' 'Hiragino Kaku Gothic ProN';
}

img {
  max-width: 100%;
}

a {
  text-align: none;
  transition: all 0.6s ease;
}

a:hover {
  opacity: 0.5;
  cursor: pointer;
}

li {
  list-style: none;
}

.section_ttl {
  font-size: 3.6rem;
  font-weight: bold;
  color: #121212;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 100px;

}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 60px;

}

.btn {
  display: inline-block;
  background: #121212;
  padding: 12px 80px;
  border: 1px solid #FFFFFF;
  transition: all 0.4s ease;
  color: #FFFFFF;
  font-size: 1.4rem;
}

.btn:hover {
  background: #fff;
  color: #202020;

}

.fadein {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}




// header 

#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  margin: 0;
  position: fixed;
  z-index: 10;
  background: #fff;
  .header_logo {
    width: 100%;
    
  }
}

#nav {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  color: #fff;
  padding: 60px 25px;
  background-color: #121212;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 20;
  opacity: 0;
}

#nav a {
  color: #fff;
}

.open #nav {
  left: 0;
  opacity: 1;
}


.nav_menu {
 margin-bottom: 60px;
  border-top: 1px solid #fff;

  li {
  position: relative;
  margin: 0;
  padding: 20px 0;
  border-bottom: solid 1px #fff;
  font-size: 1.4rem;

  }
}


#nav ul.nav_sns li {
  padding: 5px 0;
  font-size: 1.4rem;
}

.hamberger_btn {
  display: block;
  position: fixed;
  top: 25px;
  right: 25px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 20;
}

.hamberger_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all .5s;
}
.hamberger_btn span:nth-child(1) {
  top: 4px;
}
.hamberger_btn span:nth-child(2) {
  top: 14px;
}
.hamberger_btn span:nth-child(3) {
  bottom: 4px;
}
.open .hamberger_btn span {
  background-color: #fff;
}
.open .hamberger_btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}
.open .hamberger_btn span:nth-child(2) {
  opacity: 0;
}
.open .hamberger_btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}
#mask {
  display: none;
  transition: all .5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 10;
  cursor: pointer;
}


// video

#video_mv {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}


// pickup

#pickup {
  width: 100%;
  padding: 100px 0 50px 0;
  overflow: hidden;
  img {
    width: 100%;
    object-fit: cover;
  }
}

// slick_area

.slick_area {
  visibility: hidden;
  li {
    padding: 0 30px;
  }
  img {
    
  }
}

.slick_area.slick-initialized {
  visibility: visible;
}



// feature

#feature {
  width: 100%;
  .wrapper {
    .item_content {
      display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 26px 27px;
    }
    .item {
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }
  }
}

.item {
  .item_ttl {
    font-size: 1.2rem;
    padding: 30px 0 20px 30px;

  }
  .item_txt {
    font-size: 1.4rem;
    padding: 0 43px 20px 30px;
    
  }
  .datetime {
    text-align: right;
    padding-right: 30px;
    padding-bottom: 30px;
    


  }
}



// contact

#contact {
  width: 100%;
  background: #121212;
  color: #FFFFFF;
  .section_ttl {
    color: #FFFFFF;
  }
  .content {
    display: flex;

    .contact_left {
      width: 43%;
      p {
        padding-bottom: 30px;
        font-size: 1.4rem;
      }
    }
    .contact_right {
      width: 46%;
      padding-left: 12%;
    }
    dt {
      font-size: 1.4rem;
      line-height: 1.5;

    }
    dd input {
      width: 100%;
      background-color: #fff;
      padding: 10px;
      margin-bottom: 20px;
    }
    textarea {
      width: 100%;
      background-color: #fff;
      padding: 10px;
      margin-bottom: 20px;

    }
  }

}



// footer

footer {
  width: 100%;
  background: #121212;
  text-align: center;
 

  .copy {
    display: block;
    color: #FFFFFF;
    padding: 10px;
    
  }
}



// タブレット
@media screen and (max-width: 984px) {

  .wrapper {
    padding: 0 16px;
    padding-bottom: 80px;
  }

  #feature {
    .wrapper {
      padding-bottom: 50px;
      .item_content {
      grid-template-columns: 1fr 1fr;
      }
    }
  }



}








// スマホ

@media screen and (max-width: 658px) {

  .wrapper {
    padding: 0 16px 80px 16px;
  }

  #feature {
    .wrapper {
      .item_content {
        display: flex;
        justify-content: center;
      flex-direction: column;
      }
    }
  }

 #contact {
   .content {
     flex-direction: column;
     align-items: center;

     .contact_left {
      width: 100%;
     }
     .contact_right {
      width: 100%;
      padding: 0;
      .btn {
        display: block;
        text-align: center;
      }
     }

   }
 }




  }



