@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  font-family: 'Arial';
}

img {
  max-width: 100%;
}

a {
  text-align: none;
  transition: all 0.6s ease;
}

a:hover {
  opacity: 0.5;
}

li {
  list-style: none;
}

.section_ttl {
  font-size: 3.6rem;
  font-weight: bold;

}



// header 

#header {
  display: flex;
  .header_logo {
    width: 175px;
    height: 40px;
  }
}